@charset "utf-8";
/* CSS Document */
body{border:none;font-size:12px;font-family:"Arial";margin:0px;padding:0px;line-height:25px;}
ul,li,h1,h2,h3,dl,dt,dd,img,form,p{margin:0px;padding:0px;list-style:none;border:none;}
/*table{border-collapse:collapse;}*/
table td{ padding:0;}
.left{float:left;}
.right{float:right;}
.overflow{overflow:hidden;zoom:1;}
.cursor{cursor:pointer;}
.clear{ clear:both; height:0; line-height:0; font-size:0;}
.none{display:none;}
.block{display:block;}
/*链接*/
a{text-decoration:none;outline: none;hide-focus: expression(this.hideFocus = true);}
a:link,a:visited{text-decoration:none;color:#333333;} 
a:hover{text-decoration:underline;color:#806401;}
/*边距*/
.mt10{margin-top:10px;}
.mt5{margin-top:5px;}
.ml5{margin-left:5px;}
.pt5{padding-top:5px;}
.clearfix:after{content:".";display:block;height:0;clear:both;visibility:hidden;}
.clearfix{display:inline-table;}/* Hides from IE-mac \*/
*html .clearfix{height:1%;}
.clearfix{display:block;}/* End hide from IE-mac */
*+html .clearfix{min-height:1%;}